* {
    box-sizing: border-box;
}

:root {
    --primary-color: #7264d6;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    background: #fff;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    max-width: calc(100% - 48px);
}

.btn {
    --height: 58px;

    display: inline-block;
    min-width: 113px;
    padding: 0 30px;
    text-align: center;
    height: var(--height);
    line-height: var(--height);
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    outline: none;
    border-radius: 8px;
    background: var(--primary-color);
}

.btn:hover {
    /* opacity: 0.9; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor: pointer;
}

.section-eyebrow {
    display: flex;
    align-items: center;
    color: #696d77;
    font-size: 1.6rem;
    line-height: 1.75;
}

.section-eyebrow::before {
    margin-right: 12px;
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: #696d77;
}

.section-heading {
    margin-top: 12px;
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

.section-desc {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.8rem;
    line-height: 1.67;
}
/* Header */
.header {
    z-index: 99;
    position: sticky;
    top: -36px;
    padding: 42px 0 8px;
    background: #fff;
}

.header__inner {
    display: flex;
    align-items: center;
}

.navbar {
    margin-left: 70px;
    margin-right: auto;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    padding: 8px 24px;
    color: #696d76;
    font-size: 1.6rem;
    line-height: 1.75;
}

.navbar__link.active,
.navbar__link:hover {
    color: #212832;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link-text {
    position: relative;
}

.navbar__link.active .navbar__link-text::before {
    position: absolute;
    content: "";
    bottom: -3px;
    display: inline-block;
    width: 100%;
    height: 1px;
    border-radius: 0.5px;
    background: #7264d6;
}

.header-action {
    display: flex;
    align-items: center;
    column-gap: 28px;
}

.header-action__link {
    color: #212832;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.header-action__btn {
    --height: 52px;

    background: #212832;
}

/* Hero */
.hero {
    margin-top: 76px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 60px;
}

.hero__content {
    width: 540px;
}

.hero__heading {
    font-size: 6rem;
}

.hero__heading-hightlight {
    color: #7264d6;
}

.hero__form {
    margin-top: 40px;
    position: relative;
}

.form-input {
    color: #696d76;
    font-size: 1.6rem;
    line-height: 1.75;
    outline: none;
    border: none;
    border-radius: 8px;
    background: #fff;
}

.hero__form-input {
    padding: 23px 180px 23px 23px;
    width: 100%;
    box-shadow: 0 16px 42px 0 rgba(0, 0, 0, 0.07);
}

.hero__form-btn {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    min-width: 149px;
    border: none;
}

.hero__note {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.72;
}

.hero__media {
    position: relative;
    width: 570px;
}

.hero__phone {
    position: relative;
    width: 296px;
    height: 562px;
    margin: 0 174px 0 100px;
    border-radius: 40px;
    border: 12px solid #212832;
    background: #fff;
}

.hero__phone::before {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    content: "";
    width: 144px;
    height: 36px;
    border-radius: 0 0 18px 18px;
    background: #3c2f60;
}

.hero__phone-inner {
    padding: 40px 11px 30px;
}

/* Card */
.main-card {
    position: relative;
    color: #fff;
    font-size: 1rem;
    width: 25em;
    height: 15em;
    border-radius: 20px;
    background: linear-gradient(76deg, #8679e4 11.52%, #7264d6 70.78%);
    overflow: hidden;
}

.card__body {
    position: relative;
    z-index: 2;
    padding: 1.6em;
}

.card__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__main-title {
    margin-bottom: 0.2em;
    font-size: 1.4em;
    line-height: 1.35;
}

.card__two-circle {
    display: inline-flex;
}

.card__circle {
    display: inline-block;
    width: 2.4em;
    height: 2.4em;
    border-radius: 50%;
}

.card__two-circle .card__circle:nth-child(1) {
    margin-right: -0.8em;
    background: #ff5900;
    opacity: 0.7;
}

.card__two-circle .card__circle:nth-of-type(2) {
    background: #ffe500;
    opacity: 0.8;
}

.card__amount {
    font-size: 2.2em;
    font-weight: 700;
    line-height: 1.36;
}

.card__info {
    margin-top: 3.2em;
    display: flex;
    align-items: center;
    column-gap: 1.2em;
}

.card__title {
    margin-bottom: 0.5em;
    font-size: 1em;
    line-height: 1.4;
    font-weight: 300;
}

.card__date,
.card__username {
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.33;
}

.card__decor-1 {
    width: 10.5em;
    height: 9.3em;
    z-index: 1;
    position: absolute;
    top: 0;
}

.card__decor-2 {
    width: 12.6em;
    height: 10.5em;
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Transations */
.hero__transations {
    margin-top: 24px;
}

.hero__transations-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__transations-heading {
    color: #31456a;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.375;
}

.hero__transations-icon-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3px;
}

.hero__transations-icon {
    display: inline-block;
    width: 14px;
    height: 2px;
    border-radius: 99px;
    background: #31456a;
}

.hero__transations-icon:nth-child(2) {
    width: 8px;
}

.hero__transations-icon:nth-child(3) {
    width: 4px;
}

.transations__list {
    margin-top: 24px;
}

.transations-item {
    margin-top: 28px;
    display: flex;
    align-items: center;
}

.transations-item__icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    box-shadow: -4px -2px 16px 0 #fff, 4px 2px 16px 0 rgba(136, 165, 191, 0.48);
}

.transations-item:nth-child(1) .transations-item__icon-wrap {
    background: rgb(74, 181, 227, 0.2);
}

.transations-item:nth-child(2) .transations-item__icon-wrap {
    background: rgb(218, 100, 100, 0.2);
}

.transations-item:nth-child(3) .transations-item__icon-wrap {
    background: rgb(67, 159, 144, 0.2);
}

.transations-item:nth-child(4) .transations-item__icon-wrap {
    background: rgb(114, 100, 214, 0.2);
}

.transations-item__info {
    margin-right: auto;
}

.transations-item__title {
    margin-bottom: 6px;
}

.transations-item__value {
    text-align: right;
}

.transations-item__amount {
    margin-bottom: 6px;
}

.transations-item__title,
.transations-item__amount {
    color: #212832;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.transations-item__desc,
.transations-item__date {
    color: #696d76;
    font-size: 1rem;
    line-height: 1;
}

/* Decorators */
.hero__subcard-deposite {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 113px;
    width: 174px;
    height: 46px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
}

.deposite__body {
    display: flex;
    align-items: center;
    padding: 16px 10px;
}

.deposite__title {
    margin-left: 8px;
    margin-right: auto;
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.deposite__amount {
    color: #4ab5e3;
    font-size: 1.4rem;
    line-height: 1;
}

.hero__subcard-interest {
    z-index: 2;
    position: absolute;
    top: 127px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #da6464;
    text-align: center;
}

.interest__percentage {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
    line-height: 1.1;
}

.interest__title {
    color: #fff;
    font-size: 1.6rem;
}

.hero__subcard-fund {
    z-index: 2;
    position: absolute;
    right: 100px;
    bottom: 61px;
    width: 124px;
    height: 68px;
    border-radius: 10px;
    background: #439f90;
}

.fund__body {
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.fund__info {
    margin-left: 10px;
}

.fund__amount {
    margin-bottom: 5px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.fund__title {
    color: #fff;
    font-family: "Open Sans";
    font-size: 0.8rem;
    line-height: 1;
}

/* Work */
.work {
    margin-top: 160px;
}

.work__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 160px 30px;
}

.work__media {
    position: relative;
}

.work__block-img {
    position: relative;
    width: calc(100% - 100px);
    height: 619px;
}

.work__block-img::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    background-image: url(../img/bg-work-01.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

.work__img {
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 14px);
    height: 100%;
    object-fit: cover;
}

.work__wrap-card-logo {
    position: absolute;
    top: 76px;
    right: 162px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    background: #7264d6;
    border-radius: 8px;
}

.work__wrap-card-logo::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: #f8fbfe;
}

.work__card-logo,
.card-congrat__icon {
    position: relative;
    z-index: 1;
}

.work__card-congrat {
    position: absolute;
    right: 0;
    bottom: 96px;
    z-index: 2;
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
    padding: 15px;
    height: 70px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0 14px 34px 0 rgba(0, 0, 0, 0.07);
}

.card-congrat__wrap-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background: #4ab5e3;
}

.card-congrat__wrap-icon::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
}

.card-congrat__title {
    margin-bottom: 5px;
    color: #212832;
    font-family: Inter, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.2;
}

.card-congrat__desc {
    color: #696d76;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    line-height: 1.25;
}

.work__content {
    padding-left: 100px;
}

.work__list {
    margin-top: 70px;
}

.work-item + .work-item {
    margin-top: 30px;
}

.work-item__title {
    margin-bottom: 16px;
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
}

.work-item__desc {
    color: #696d76;
    font-size: 1.6rem;
    line-height: 1.75;
}

.work__content-second {
    padding-left: 0;
    padding-right: 100px;
}

.work__features-list {
    margin-top: 28px;
}

.feature-item + .feature-item {
    margin-top: 18px;
}

.feature-item {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.feature-item::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #7264d6;
    border-radius: 50%;
}

.work__feature-cta {
    margin-top: 38px;
    background: #000;
}

.work__main-card {
    font-size: 1.9rem;
}

.work-card__amount {
    font-size: 1.9em;
}

.work__transations-item {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    transform: translateY(-60%);
    margin-top: 0;
    width: 276px;
    padding: 23px 13px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 14px 38px 0 rgba(0, 0, 0, 0.07);
}

.work__card-income {
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    width: 120px;
    height: 120px;
    border-radius: 16px;
    background: #439f90;
}

.card-income__inner {
    padding: 15px;
}

.card-income__icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #439f90;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: #fff;
}

.card-income__title {
    margin-top: 14px;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.33;
}

.card-income__amount {
    margin-top: 6px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.4;
}
